services:
  db:
    image: mysql:8.1
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db:/var/lib/mysql

  api:
    image: ghcr.io/ei-sugimoto/tatekae/api:latest
    ports:
      - "8080:8080"
    volumes:
      - ./api:/app
    environment:
      - DB_HOST=db
      - DB_USER=user
      - DB_PASS=password
      - DB_NAME=mydb
      - DB_PORT=3306
    depends_on:
      - db

  web:
    image: ghcr.io/ei-sugimoto/tatekae/web:latest
    ports:
      - "3000:3000"
    volumes:
      - ./web:/workspace

    environment:
      - API_URL=http://api:8080
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - api
      - db
    tty: true
    working_dir: /workspace/app
    command: bash -c "bun install && bun run dev"
    stdin_open: true

volumes:
  db:
