name: Build and Push Docker Image to GCR

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}

      - name: Configure docker to use gcr
        run: |
          gcloud auth configure-docker

      - name: Build and push Docker image
        working-directory: api
        run: |
          docker buildx build \
            --file Dockerfile.Prod \
            --platform linux/amd64,linux/arm64 \
            --push \
            -t gcr.io/${{ secrets.GCP_PROJECT_ID }}/my-app:${{ github.sha }} .

      - name: Verify Docker image is pushed
        run: |
          docker pull gcr.io/${{ secrets.GCP_PROJECT_ID }}/my-app:${{ github.sha }}
